/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 .star-wrapper{
    position: relative;
    display: inline-block;
}

.stars{
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    white-space: nowrap;
    color: #ffc315;
}

/* @import url('../fontawesome-free-5.15.4-web/css/fontawesome.min.css'); */
/* @import url('../../../../app/assets/fontawesome-free-5.15.4-web/css/fontawesome.min.css'); */
@import url('/public/assets/fontawesome-free-5.15.4-web/css/all.min.css');
@import url('../fontawesome-free-5.15.4-web/css/all.min.css');

.star-wrapper::before, .stars::before{
    font-family: "Font Awesome 5 Free";
    content: "\f005 \0020 \f005 \0020 \f005 \0020 \f005 \0020 \f005 \0020";
    font-weight: 900;
}